.footer {
    padding: 20px 0;
    font-size: 15px;
    font-weight: 300;
    background: #f7f7f7;
    margin-top: 108px;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        margin-top: 0;
        padding-left: 10%;
        padding-right: 7%;
        padding-top: 0;
        background: transparent;
    }
    @media screen and (max-width: 749px){

        padding-left: 0;
        padding-right: 0;
    }
    @media screen and (max-height: 850px) and  (min-width: 1081px) {

    }
    .wrap {
        padding: 0 113px 0 90px;

        @media only screen and (max-width: 1350px) and (orientation: landscape) {
            padding: 0 15px;
        }
        @media screen and (max-width: 749px){
            padding: 0 15px;
        }
    }
    .logo {
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            margin-bottom: 28px;
        }
        img {
            @media screen and (max-width: 749px){
                width: 189px;
                margin-right: 44px;
            }
            
        }
        
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            flex-wrap: wrap;
            margin-bottom: 34px;
        }
        @media screen and (max-width: 749px){
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 22PX;
        }
    }
    &__group {
        padding-right: 12%;
        padding-top: 7px;

        @media only screen and (max-width: 1350px) and (orientation: landscape) {
            padding-right: 0;
        }
        @media screen and (max-width: 749px){
            padding-right: 0;
        }
    }
    &__phone {
        font-size: 22px;
        margin-bottom: 5px;
        font-weight: 600;
        color: #252525;
        &-text {
            font-size: 13px;
            color: #252525;
            border-bottom: 1px dashed #252525;
        }
    }
    &__social-list {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            margin-right: 14px;
        }

        @media screen and (max-width: 749px){
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
            margin-right: 0;
        }
    }
    &__social-li {
        margin-right: 10px;
        transition: all 0.5s ease 0s;
        &:first-child {
            font-weight: 600;
            margin-right: 24px;
            font-size: 16px;
            letter-spacing: 1px;

            @media screen and (max-width: 749px){
                width: 100%;
                margin-bottom: 10px;
                text-align: center;
                margin-right: 0;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        img {
            max-width: 100%;
        }
    }
    &__social-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #a8e281;

        svg {
            width: 20px;
            height: 20px;
            fill: #fff
        }
        &:hover {
            svg {
                fill: rgba(0, 0, 0, 0.6);
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            // margin-bottom: 20px;
        }

        @media screen and (max-width: 749px){
            flex-direction: column;
            text-align: center;
        }
    }
}
.rights {
    color: #010101;
    font-size: 12px;
    letter-spacing: 0.5px;
    @media screen and (max-width: 749px){
        width: 100%;
    }
    p {
        margin: 0;
        line-height: 18px;
        @media screen and (max-width: 749px){
            display: inl;
        }
    }
    &.br-planshet {

        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: block;
            width: 60%;
            padding-left: 20px;
            align-self: flex-start;
            margin-top: 16px;
            letter-spacing: 0.6px;
        }

        @media screen and (max-width: 749px){
            display: none;
        }
    }
    &--left {
            
        @media only screen and (max-width: 1350px) and (orientation: portrait),
        screen and (max-width: 1080px) {
            display: none;
        }

        @media screen and (max-width: 749px){
            display: block;
            order: 1;
            margin-top: 16px;
        }
    }
}
.dev {
    display: flex;
    align-items: center;
    font-size: 16px;
    @media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
        font-size: 12px;
    }
    @media screen and (max-width: 749px){
        width: 100%;
        order: -1;
        margin-bottom: 10px;
        justify-content: center;
    }
    &__text {
        margin-right: 21px;
    }
    &__img {
        &:hover {
            opacity: 0.8;
            transform: scale(1.1);
        }
    }
    svg {
        width: 52px;
        height: 38px;
    }
}