section.home
    .wrap
        .home__body 
            .home__pre Ребенок не может выучить английский?
            .home__title.animated-parent
                span.letters К концу лета ваш ребенок 
                br.br-desktop
                span.letters по-английски 
                span.letters.text--medium будет понимать 
                br.br-desktop
                span.letters.text--medium и составлять  
                span.letters предложения
            .home__subtitle благодаря игровому онлайн-обучению 
                br
                span.text--medium в сертифицированной школе 
                | «Динамика»
            .home__btn
                .si-button-pulse 
                    a(href="#quiz").btn.btn--icon.scroll-to.blick 
                        span Пройти тест и получить бонус 
            .agree Нажимая на кнопку «Пройти тест и получить бонус», я даю согласие на обработку персональных данных и соглашаюсь с политикой конфиденциальности
        .home__side
            .home__test
                img(src="img/icons/telephone.png" alt="telephone")
                .home__text Уделите пару минут своего времени на онлайн-тестирование из 5 вопросов и получите 
                    span.text--medium неделю бесплатного обучения
            a(href="#modalPdf").home__bonus.modal-open.text--medium
                img(src="img/icons/pdf.svg" alt="pdf-icon" class="pdf-icon")
                span  + PDF файл 
                .text--sb «Как учить 
                    br
                    | 10 слов в день без зубрежки»