section.features
    .wrap
        .features__items
            .features__item
                .features__pic
                    img(src="img/whatdo/1.png", alt="whatdo")
                .features__text Разбираем учебные темы 
                    span на понятных примерах, 
                    | которые интересны ребенку
            .features__item
                .features__pic
                    img(src="img/whatdo/2.png", alt="whatdo")
                .features__text С нами на английском 
                    span заговорит любой ребенок 
                    | от 6 до 18 лет
            .features__item
                .features__pic
                    img(src="img/whatdo/3.png", alt="whatdo")
                .features__text Не зубрим темы из учебника,
                    span 80% материала осваиваете 
                    | на разговорной практике
