header
	.wrap
		.nav
			a(href="/").logo
				img(src="img/logo.png", alt="logo dinamika")
				.logo__text Онлайн-школа английского языка для детей от 
					strong 7 лет

			.menu-wrap
				.menu-toggle 
					.one
					.two
					.three

				nav.main-menu 
					ul
						li
							.header__location Екатеринбург
						li.header__group
							a(href='tel:+79090100735').header__phone +7 909 010-07-35
							a(href="#modalSupport").header__btn.modal-open Вам перезвонить?
			.mob
				a(href="tel:+79090100735").mob_phone 
					img(src="img/icons/tel.svg", alt="phone")