section#quiz.quiz
    .wrap
        .quiz__maintitle 
            span Ответьте на 5 простых вопросов теста 
            br
            span.text--medium.quiz__maintitle-accent и получите в подарок неделю бесплатного обучения 
            br.br-desktop
            br.br-planshet
            span.text--medium в онлайн-школе, а также pdf-файл 
            br
            span «Как учить 10 слов 
            br.br-mobile
            span в день без зубрежки»
        .quiz__mainsubtitle тест основан на результатах 1500 учеников,
            br.br-planshet
            | прошедших через нашу онлайн-школу 
            br.br-mobile
            | за прошедший год
        form(class="quizForm", name="quiz")
            // Hidden Required Fields
            input(type='hidden', name='project_name', value='Динамика')
            input(type='hidden', name='admin_email', value='liaforweb@gmail.com, Azbuka.digital@ya.ru, dinamika.ekb@gmail.com')
            input(type='hidden', name='form_subject', value='Квиз')
            // END Hidden Required Fields
            input(type='hidden', name='info', value='Квиз')
            input.utm_source.hidden(type='hidden', name='utm_source')
            input.utm_medium.hidden(type='hidden', name='utm_medium')
            input.utm_campaign.hidden(type='hidden', name='utm_campaign')
            input.utm_term.hidden(type='hidden', name='utm_term')
            input.utm_content.hidden(type='hidden', name='utm_content')
            .step-slide.step-slide--with-img.step-slide--active
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/women.png", alt="Лейсан Фаусовна")
                            .quiz-sidebar__name Лейсан Фаусовна
                            .quiz-sidebar__position Руководитель школы Динамика
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p Здравствуйте! Я являюсь руководителем
                                    br.br-planshet
                                    | онлайн-школы и помогу вам на всём протяжении 
                                    br.br-planshet 
                                    | теста.
                                p
                                    span.text--medium К каждому вопросу будут мои пояснения и комментарии,
                                    br.br-desktop
                                    | рекомендую читать внимательно, ведь это поможет вам более точно заполнить анкету и получить наиболее квалифицированную помощь в изучении английского языка.
                            .gift-img
                                img(src="img/icons/gift.svg" class="" alt="gift")
                            .quiz-sidebar__title До выбора подарка осталось: 
                            .quiz-sidebar__subtitle.text--medium 5 вопросов
                    .quiz__body
                        .step-slide__title C какой целью хотите научить ребенка английскому?
                        .step-slide__bottom
                            .quiz-progress
                                .quiz-progress__steps
                                    .quiz-progress__item.active(style="width:0%")
                        .quiz__ans.question__ans--radio
                            label.pick-item
                                input.pick-item__input(type='radio', name='question1', value='Для сдачи Егэ, ОГЭ на 100 баллов')
                                .label-img
                                    img(src="img/quiz/1.png", alt="quiz")
                                .pick-item__label Для сдачи Егэ, ОГЭ на 100 баллов
                            label.pick-item
                                input.pick-item__input(type='radio', name='question1', value='Для поступления в престижный Университет')
                                .label-img
                                    img(src="img/quiz/2.png", alt="quiz")
                                .pick-item__label Для поступления в престижный Университет
                            label.pick-item
                                input.pick-item__input(type='radio', name='question1', value='Для поездок за границу и свободного владения языком')
                                .label-img
                                    img(src="img/quiz/3.png", alt="quiz")
                                .pick-item__label Для поездок за границу и свободного владения языком
                            label.pick-item
                                input.pick-item__input(type='radio', name='question1', value='Чтобы ребенок знал английский на 5 в школе')
                                .label-img
                                    img(src="img/quiz/4.png", alt="quiz")
                                .pick-item__label Чтобы ребенок знал английский на 5 в школе
                        .step-slide__bottom
                            .prev-next-container
                                .quiz__error
                                .si-button-pulse
                                    a.btn.btn-next.qa-next(href='#').blick Следующий вопрос
            .step-slide.step-slide--range
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/women.png", alt="Лейсан Фаусовна")
                            .quiz-sidebar__name Лейсан Фаусовна
                            .quiz-sidebar__position Руководитель школы Динамика
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p комментарий 1
                            .gift-img
                                img(src="img/icons/gift.svg" class="" alt="gift")
                            .quiz-sidebar__title До выбора подарка осталось: 
                            .quiz-sidebar__subtitle.text--medium 4 вопроса
                    .quiz__body.animated
                        .step-slide__title Сколько лет вашему ребенку?
                        .step-slide__bottom
                            .quiz-progress
                                .quiz-progress__steps
                                    .quiz-progress__item.active(style="width:20%")
                        .quiz__ans.question__ans--radio
                            .slider
                                output#volume(for='fader') 6
                                input#fader(type='range', min='6', max='18', value='0', step='1', oninput='outputUpdate(value)')
                                input(hidden type="text", name='question2', id="volumeAge")
                        .step-slide__bottom
                            .prev-next-container
                                .quiz__error
                                a.btn.btn-prev.qa-prev(href='#') Назад
                                .si-button-pulse
                                    a.btn.btn-next.qa-next(href='#').blick Следующий вопрос
            .step-slide.step-slide--with-img
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/women.png", alt="Лейсан Фаусовна")
                            .quiz-sidebar__name Лейсан Фаусовна
                            .quiz-sidebar__position Руководитель школы Динамика
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p комментарий 2
                            .gift-img
                                img(src="img/icons/gift.svg" class="" alt="gift")
                            .quiz-sidebar__title До выбора подарка осталось: 
                            .quiz-sidebar__subtitle.text--medium 3 вопроса
                    .quiz__body.animated
                        .step-slide__title Какой уровень владения английским на данный момент?
                        .step-slide__bottom
                            .quiz-progress
                                .quiz-progress__steps
                                    .quiz-progress__item.active(style="width:40%")
                        .quiz__ans.question__ans--radio
                            label.pick-item
                                input.pick-item__input(type='radio', name='question3', value='Нужно учить с нуля')
                                .label-img
                                    img(src="img/quiz/5.png", alt="quiz")
                                .pick-item__label Нужно учить с нуля
                            label.pick-item
                                input.pick-item__input(type='radio', name='question3', value='Знает основные фразы, не более того')
                                .label-img
                                    img(src="img/quiz/6.png", alt="quiz")
                                .pick-item__label Знает основные фразы, не более того
                            label.pick-item
                                input.pick-item__input(type='radio', name='question3', value='Нужно подтянуть грамматику')
                                .label-img
                                    img(src="img/quiz/7.png", alt="quiz")
                                .pick-item__label Нужно подтянуть грамматику
                        .step-slide__bottom
                            .prev-next-container
                                .quiz__error
                                a.btn.btn-prev.qa-prev(href='#') Назад
                                .si-button-pulse
                                    a.btn.btn-next.qa-next(href='#').blick Следующий вопрос
            .step-slide
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/women.png", alt="Лейсан Фаусовна")
                            .quiz-sidebar__name Лейсан Фаусовна
                            .quiz-sidebar__position Руководитель школы Динамика
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p комментарий 3
                            .gift-img
                                img(src="img/icons/gift.svg" class="" alt="gift")
                            .quiz-sidebar__title До выбора подарка осталось: 
                            .quiz-sidebar__subtitle.text--medium 2 вопроса
                    .quiz__body.quiz__body4.animated
                        .step-slide__title Когда вашему ребенку удобно обучаться?
                        .step-slide__bottom
                            .quiz-progress
                                .quiz-progress__steps
                                    .quiz-progress__item.active(style="width:60%")
                        .quiz__ans.question__ans--radio
                            label.pick-item
                                input.pick-item__input(type='radio', name='question4', value='По будням в вечернее время')
                                .pick-item__label По будням в вечернее время
                            label.pick-item
                                input.pick-item__input(type='radio', name='question4', value='Удобно каждый день')
                                .pick-item__label Удобно каждый день
                            label.pick-item
                                input.pick-item__input(type='radio', name='question4', value='На выходных')
                                .pick-item__label На выходных
                            label.pick-item
                                input.pick-item__input(type='radio', name='question4', value='По будням')
                                .pick-item__label По будням
                        .step-slide__bottom
                            .prev-next-container
                                .quiz__error
                                a.btn.btn-prev.qa-prev(href='#') Назад
                                .si-button-pulse
                                    a.btn.btn-next.qa-next(href='#').blick Следующий вопрос
            .step-slide.step-slide--with-img
                .quiz__wrap
                    .quiz-sidebar
                        .quiz-sidebar__pic
                            .quiz-sidebar__img
                                img(src="img/women.png", alt="Лейсан Фаусовна")
                            .quiz-sidebar__name Лейсан Фаусовна
                            .quiz-sidebar__position Руководитель школы Динамика
                        .quiz-sidebar__wrap
                            .quiz-sidebar__text 
                                p комментарий 4
                            .gift-img
                                img(src="img/icons/gift.svg" class="" alt="gift")
                            .quiz-sidebar__title До выбора подарка осталось: 
                            .quiz-sidebar__subtitle.text--medium 1 вопрос
                    .quiz__body.animated
                        .step-slide__title Насколько он хочет выучить английский?
                        .step-slide__bottom
                            .quiz-progress
                                .quiz-progress__steps
                                    .quiz-progress__item.active(style="width:80%")
                        .quiz__ans.question__ans--radio
                            label.pick-item
                                input.pick-item__input(type='radio', name='question5', value='Хочет, но не повезло с преподавателем')
                                .label-img
                                    img(src="img/quiz/8.png", alt="quiz")
                                .pick-item__label Хочет, но не повезло с преподавателем
                            label.pick-item
                                input.pick-item__input(type='radio', name='question5', value='Учит каждый день и старается')
                                .label-img
                                    img(src="img/quiz/9.png", alt="quiz")
                                .pick-item__label Учит каждый день и старается
                            label.pick-item
                                input.pick-item__input(type='radio', name='question5', value='Пока не хочет, а мы заставляем')
                                .label-img
                                    img(src="img/quiz/10.png", alt="quiz")
                                .pick-item__label Пока не хочет, а мы заставляем
                        .step-slide__bottom
                            .prev-next-container
                                .quiz__error
                                a.btn.btn-prev.qa-prev(href='#') Назад
                                .si-button-pulse
                                    a.btn.btn-next.qa-next(href='#').blick Следующий вопрос
            .step-slide.step-slide--text.step-slide--last
                .quiz__wrap
                    .quiz__left
                        .quiz__body.animated
                            .step-slide__title Благодарим 
                                span за прохождение опроса!
                            p Теперь ваш ребенок сможет бесплатно обучаться в нашей онлайн-школе и 
                                span.text--medium вы увидите результаты через 7 дней. 
                            .form-line
                                label.pick-item.pick-item--text
                                    input(type="text" placeholder="Ваше имя" name="name").rfield
                            .form-line
                                label.pick-item.pick-item--text
                                    input(type="text" placeholder="Номер телефона" name="phone").rfield.phone-mask
                            .form-line
                                label.pick-item.pick-item--text
                                    input(type="text" placeholder="E-mail, на которую придет файл с уроком" name="email").rfield
                            .step-slide__bottom
                                .form-line-btn
                                    .quiz__error
                                    .btn.btn-finish.si-button-pulse(data-modal="#modalFinish")
                                        .blick
                                            input(type="submit" value="Отправить заявку" ).quiz__btn
                            .agree 
                                span Нажимая на кнопку «Пройти тест и получить бонус», я даю согласие на обработку персональных данных и соглашаюсь с 
                                a(href="policy.html" target="_blank").policy политикой конфиденциальности
                    .quiz__right
                        .home__bonus
                            img(src="img/icons/pdf.svg" alt="pdf-icon" class="pdf-icon")
                            p  
                                span.text--sb Также вы получите 
                                br.br-desctop
                                span.text--sb pdf инструкцию, 
                                br.br-desctop
                                | которая поможет учить 10 английских слов за день!
                            p.text--sb Для этого оставьте свои данные в форме слева
                                br.br-desctop
                                | и мы вышлем вам подарки.
script.
    function outputUpdate(vol) {

    var age = document.querySelector('#volumeAge');
    var output = document.querySelector('#volume');
    age.value = vol;
    console.log(age.value);
    output.value = vol;
    output.style.left = vol - 20;
    if (output.value > 9) {
    output.style.left = vol - 30;
    }
    if (output.value > 99) {
    output.style.left = vol - 40;
    }
    if (output.value > 240) {
    output.style.left = vol - 45;
    }
    if (output.value > 430) {
    output.style.left = vol - 50;
    }
    if (output.value > 470) {
    output.style.left = vol - 55;
    }
    }